<!doctype html>
<title>What makes you happy?</title>

<form method="post">
    <input type="text" name="search" placeholder="What makes you happy?">
    <button type="submit" name="add_topic">Add topic!</button>
</form>

<form method="post">
    {% for topic in topics: %}
    <div class="checkbox">
        <label>
            {% if topic in selected: %}
            <input type="checkbox" name={{topic}} checked> {{topic}}
            {% else %}
            <input type="checkbox" name={{topic}}> {{topic}}
            {% endif %}
        </label>
    </div>
    {% endfor %}

    <button type="submit" name="done">Done!</button>
</form>