<!doctype html>
<head>
    <title>What makes you happy?</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/wmyh.css')}}"/>
</head>

<body>
<form method="post" class="topic_search">
    <div class="choices">
        {% if nothingSelected %}
        <p>Tell us what makes you happy</p>
        {% else %}
        <p>Great choices!</p>
        <button type="submit" name="done" class="done-btn">Done?</button>
        {% endif %}
    </div>

    <input type="text" name="search" placeholder="What makes you happy?" class="search-bar">
    <button type="submit" name="add_topic" id="add_topic">
        <img src={{url_for('static', filename='Images/search-icon.png')}} alt="Search" height="25" width="25"/>
    </button>
</form>

<form method="post">
    {% for topic in topics: %}
        {% if topic in selected: %}
        <button type="submit" class="active-btn" name={{topic}}>{{topic}}</button>
        {% else %}
        <button type="submit" class="inactive-btn" name={{topic}}>{{topic}}</button>
        {% endif %}
    {% endfor %}
</form>
</body>
