.inactive-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.inactive-btn:hover {
	background-color: #FFC0CB;
	border-color: #FFC0CB;
}

.active-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    background-color: #FFC0CB;
    border-color: #FFC0CB;
}

.active-btn:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.topic_search {
    padding: 0px 0px 15px;
}

.search-bar {
    width: 300px;
    height: 30px;
}

p {
    font: 30px BlinkMacSystemFont;
    display: inline-block;
    padding: 0px 5px 30px 0px;
}

.choices {
    display: block;
}

#add_topic {
    background-color: transparent;
    border-color: transparent;
}

.done-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #ADD8E6;
    background-color: #ffffff;
    border-color: #ADD8E6;
}

.done-btn:hover {
    color: #ffffff;
    background-color: #ADD8E6;
    border-color: #ADD8E6;
}

body {
    background-image: url("../images5.jpg");
    background-repeat: no-repeat;
    background-size: 1300px, 1050px;
}