.inactive-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.inactive-btn:hover {
	background-color: #FFC0CB;
	border-color: #FFC0CB;
}

.active-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    background-color: #FFC0CB;
    border-color: #FFC0CB;
}

.active-btn:hover {
	background-color: #5cb85c;
	border-color: #4cae4c;

}